version: '2'

services:
    db:
        image: mysql:5.7
        volumes:
            - "./.data/mysql:/var/lib/mysql"
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}

    node:
        build: node
        volumes:
            - ${ANGULAR_APP_PATH}:/app

    php:
        build:
            context: php7-fpm
            args:
                TIMEZONE: ${TIMEZONE}
        volumes:
            - ${SYMFONY_APP_PATH}:/var/www/symfony

    nginx:
        build: nginx
        ports:
            - 8080:80
        volumes:
            - ${ANGULAR_APP_PATH}/dist:/var/www/angular
        volumes_from:
            - php

    redis:
        image: redis:alpine
